
<!--模型数据-->
<!--该代码由系统自动生成-->
<table class="table-font">
    <tr>
        <th class="w120">{$column_cn}：</th>
        <td>'.$centerEditStr.'</td>
    </tr>
    {loop $columns $onecolumn}
    {$column_en = $onecolumn['column_name'];}
    {$column_cn = $onecolumn['column_comment'] ? $onecolumn['column_comment'] : $column_en;}
    {$column_type = $onecolumn['column_type'];}
    {$column_key = $onecolumn['column_key'];}
    {$extra = $onecolumn['extra'];}
    {$column_default = $onecolumn['column_default'];}
    <tr>
        <th style="VERTICAL-ALIGN: top">{$column_cn}：</th>
        <td>'.$centerEditStr.'</td>
    </tr>
    {/loop}
</table>
<!--该代码由系统自动生成 end-->
<!--模型数据 end-->