<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>网址跳转中……</title>
<link href="{$url_tpl}css/tool_message.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="success">
	<p>&nbsp;</p>
	<p><strong> {$message}
		{if $stop_loop!=1} <span id="seconds" style="color:#f60;">{$timeout}</span>秒后自动返回
		{/if} </strong> </p>
	<p>	<ul id="cont">
		{loop $urlData $one}
			<li> <a href="{$one['url']}">{$one['txt']}</a> </li>
		{/loop}
		</ul>
	</p>
	<p> <a href="{$url_page}">如果您的浏览器没有自动跳转，点击返回！ </a> </p>
	<p>&nbsp;</p>
</div>
{if $stop_loop!=1}
<script type="text/javascript">

var i = '{$timeout}';
var reTime = setInterval(function(){
	i = i-1;
	if(i<0){

		window.location.href= '{$url_page}'
		window.clearInterval(reTime);
		return;

	}
	document.getElementById("seconds").innerHTML = i;
},1000);

</script> 
{/if}
</body>
</html>
